.tabList {

}

.tabItem {

}

.tabContent {

}

.inTheBoxHeader {
    background-color: var(--ifm-color-primary);
    //--ifm-hero-text-color: var(--ifm-font-color-base-inverse);
    //color: var(--ifm-hero-text-color);
    text-align: center;
    vertical-align: center;
    h2 {
        margin-bottom: 0;
    }
}